body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('back.avif');
    background-size: cover; /* para cobrir todo o espaço do body */
    background-position: center; /* centraliza a imagem no body */
    margin: 0;
    padding: 20px; /* Adiciona espaçamento ao redor do body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2vw;
}

.product-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin-bottom: 20px; /* Adiciona margem inferior para separar os produtos */
}

.product-container h2 {
    margin-bottom: 10px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.add-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #45a049;
}
